.navbar {
  background-color: #304F6E;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between; /* links left, brand right */
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
